body {
  /* background-color: #24555c; */
  background: linear-gradient(to right, #39a1b1, #24555c);
  color: rgb(231, 228, 228);
  /* color: #ffffff; */
  font-size: 1.5rem;
}

.container {
  height: 100vh;
}

.App {
  text-align: center;
  width: 30%;
  /* height: 88vh; */
  margin: 1rem auto 0 auto;
  border-radius: 20%;
  border: 2px solid rgba(10, 10, 10, 0.2);
  box-shadow: 5px 7px 8px 5px rgba(10, 10, 10, 0.2);
}

.header {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.breaks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1.5rem;
}

#break-label,
#session-label {
  margin-bottom: 0.5rem;
}
.break-length-container,
.break-session-container {
}
.break-left,
.break-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin: 0 auto;
  width: 100%;
}

#break-decrement,
#break-increment,
#session-increment,
#session-decrement {
  border-radius: 49%;
  padding: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #13353a;
  background-color: linear-gradient(to right, #54b3c2, #24555c);
  box-shadow: 5px 8px 7px rgba(10, 10, 10, 0.2);
}

#break-decrement:hover,
#break-increment:hover,
#session-increment:hover,
#session-decrement:hover {
  border: 1px solid white;
  border-radius: 49%;
  padding: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 5px 8px 7px rgba(10, 10, 10, 0.2);
}

.clock-session {
  margin: 1rem auto 1rem;
  border-radius: 35px;
  border: 5px solid rgba(10, 10, 10, 0.2);
  width: 55%;
  height: 8rem;
}

#timer-label {
  margin-top: 1rem;
  font-size: 2rem;
}
#time-left {
  margin-top: 5px;
  font-size: 3.5rem;
}

#controller {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 10px; */
  cursor: pointer;
  margin: 1.5rem 10px;
}

/* #reset {
  margin-top: 0;
  cursor: pointer;
  border: 6px solid blue;
  border-radius: 40%;
  width: 50px;
  height: 50px;
} */

.description {
  margin-top: 1rem;
  font-size: 15px;
  color: #a62a24;
}

.clockSessionStyle {
  color: #a62a24;
}

.author {
  text-align: center;
  color: #08264d;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 2rem;
  }

  #time-left {
    margin-top: 5px;
    font-size: 2.5rem;
  }

  #timer-label {
    margin-top: 1rem;
    font-size: 1.7rem;
  }
  #break-decrement,
  #break-increment,
  #session-increment,
  #session-decrement {
    padding: 1.2rem;
  }

  #break-decrement:hover,
  #break-increment:hover,
  #session-increment:hover,
  #session-decrement:hover {
    padding: 1.2rem;
  }

  .clock-session {
    border-radius: 50%;
    height: 8rem;
    width: 60%;
  }

  #start_stop,
  #reset {
    border-radius: 49%;
    padding: 1.2rem;
    border: 1px solid #13353a;
    background-color: linear-gradient(to right, #54b3c2, #24555c);
    box-shadow: 5px 8px 7px rgba(10, 10, 10, 0.2);
  }
  #start_stop:hover,
  #reset:hover {
    padding: 1.2rem;
    border: 1px solid #fff;
  }

  .description {
    font-size: 0.9rem;
  }
  .author {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 720px) {
  .header {
    font-size: 1.2rem;
  }

  #time-left {
    margin-top: 5px;
    font-size: 1.5rem;
  }

  #timer-label {
    margin-top: 0.5rem;
    margin-top: 1.2rem;
    font-size: 1rem;
  }
  #break-decrement,
  #break-increment,
  #session-increment,
  #session-decrement {
    padding: 0.7rem;
  }

  #break-decrement:hover,
  #break-increment:hover,
  #session-increment:hover,
  #session-decrement:hover,
  #start_stop:hover,
  #reset:hover {
    padding: 0.7rem;
  }

  #break-label,
  #session-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .clock-session {
    border-radius: 45%;
    height: 6rem;
  }

  #start_stop,
  #reset {
    /* border-radius: 49%; */
    padding: 0.7rem;
    border: 1px solid #13353a;
    /* background-color: linear-gradient(to right, #54b3c2, #24555c);
    box-shadow: 5px 8px 7px rgba(10, 10, 10, 0.2); */
  }
  #start_stop:hover,
  #reset:hover {
    padding: 0.7rem;
    /* border: 1px solid #fff; */
  }
  .description {
    font-size: 0.7rem;
  }
  .author {
    font-size: 0.7rem;
  }
}
